/* src/components/About/About.module.css */
.aboutSection {
    background-color: var(--dark-secondary);
    padding: 8rem 2rem;
    text-align: center;
}

.aboutSection p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.8;
}

.sectionTitle {
    font-family: var(--font-headings);
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    color: var(--primary-text);
}

.sectionTitle::after {
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background-color: var(--accent-color);
    margin: 1rem auto 2.5rem;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    .aboutSection {
        padding: 6rem 1.5rem;
    }

    .sectionTitle {
        font-size: 2.5rem;
    }

    .aboutSection p {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .aboutSection {
        padding: 4rem 1rem;
    }

    .sectionTitle {
        font-size: 2rem;
    }

    .aboutSection p {
        font-size: 1rem;
    }
}